* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: top;
  margin: 100px;
  background-color: #f5edede8;
  position: relative;
  flex-direction: column;
}
table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
  margin: 0;
}
table {
  width: 100%;
  height: auto;
  /* display: table; */

  text-align: center;
  border-radius: 60px;
}
tr:hover {
  background-color: rgba(0, 0, 255, 0.301);
}
th {
  background-color: aquamarine;
  font-weight: bolder;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
}
td {
  width: 900px;
  font-size: medium;
  font-size: large;
  font-weight: 500;
}

#final {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#button {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset,
    rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}
